<!DOCTYPE html>
<html>

<head>
    <title>Edit: <%= list["name"] %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/simditor.css">
</head>

<body>
    <nav class="navbar" role="navigation">
        <div class="navbar-header col-md-12">
            <div class="col-md-9">
                <a class="navbar-brand" href="/">Edit: <%= list["name"] %></a>
                <p class="navbar-text"><%= description %></p>
            </div>
        </div>
    </nav>
    <div class="container">
        <form role="form" method="post" class="col-md-12">
            <img src="<%= list["imgUrl"] %>" alt="" class="col-md-3" id="imgPreview" />
            <div class="col-md-9">
                <div class="form-group col-md-6 hidden">
                <label for="id">Book's ID</label>
                <input type="text" class="form-control" name="book[id]" id="id" value="<%= list['id'] %>">
                </div>
                <div class="form-group col-md-6">
                    <label for="name">Book's Name</label>
                    <input type="text" class="form-control" name="book[name]" id="name" value="<%= list['name'] %>">
                </div>
                <div class="form-group col-md-6">
                    <label for="year">Book's Publish Year</label>
                    <input type="text" class="form-control" name="book[year]" id="year" value="<%= list['year'] %>">
                </div>
                <div class="form-group col-md-12">
                    <label for="description">Book's Description</label>
                    <input type="text" class="form-control" name="book[description]" id="description" value="<%= list['description'] %>">
                </div>
                <div class="form-group col-md-12">
                    <label for="img">Book's Image Url</label>
                    <input type="text" class="form-control" name="book[imgUrl]" id="imgUrl" value="<%= list['imgUrl'] %>">
                </div>
                <button type="submit" class="btn btn-primary btn-lg pull-right">Submit</button>
            </div>
            <div class="col-md-12">
                <h3>Note</h3>
                <textarea name="book[note]" id="note" data-autosave="editor-content">
                    <%= list["note"] %>
                </textarea>
            </div>
        </form>
        <div class="col-md-4">
            <p>Bookshelf © <a href="http://www.gucheen.pro" target="_blank">Guc</a>2014</p>
        </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/module.js"></script>
    <script src="/javascripts/uploader.js"></script>
    <script src="/javascripts/simditor.js"></script>
    <script>
        $(function() {
            var editor = new Simditor({
                textarea: $('#note'),
                placeholder: 'Input your note here ...',
				pasteImage: true,
            });
            $('#imgUrl').change(function() {
                var newImg = $(this).val();
                $('#imgPreview').attr('src', newImg);
            });
        });
    </script>
</body>

</html>