<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
</head>

<body>
    <nav class="navbar" role="navigation">
        <div class="navbar-header col-md-12">
            <div class="col-md-8 pull-left">
                <a class="navbar-brand" href="/"><%= title %></a>
                <p class="navbar-text"><%= description %></p>
            </div>
            <div class="col-md-4 pull-right" style="margin-top: 8px">
                <a class="btn btn-success" id="add" href="/add">Add a new book</a>
                <a class="btn btn-default">Search</a>
                <a class="btn btn-default" href="/pic">Manager images</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Thumbnail</th>
                    <th>Author</th>
                    <th id="li-th-year">Year <i class="fa fa-sort"></i></th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                <% if(list){ for(var i=0;i<list.length;i++) {%>
                    <tr>
                        <td><%= list[i]["name"] %></td>
                        <td><%= list[i]["imgUrl"] %></td>
                        <td><%= list[i]["description"] %></td>
                        <td><%= list[i]["year"] %></td>
                        <td>
                            <a type="button" class="btn btn-primary btn-sm editBtn" href="/edit/<%= list[i]["id"] %>">Edit</a>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger btn-sm delBtn dropdown-toggle" data-toggle="dropdown">
                                    Delete
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="/del/<%= list[i]["id"]%>" class="delLink">Delete It !</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <% };}else{ %>
                        <tr class="danger">
                            <td colspan="5" style="text-align:center">You have no books.</td>
                        </tr>
                        <% } %>

            </tbody>
        </table>
        <div class="col-md-8">
            <ul class="pagination">
                <% if(list && pages > 1){if(pageNumber == 1){ %>
                    <li class="disabled"><a href='#'>&laquo;</a></li>
                    <% }else{ %>
                        <li><a href=<%="/page/" + (pageNumber-1) %>>&laquo;</a></li>
                        <% } %>
                            <% for(var i=0;i<pages;i++){ if(i==( pageNumber-1)){ %>
                                <li class="active"><span><%=i +1 %><span class="sr-only">(current)</span></span></li>
                                <% }else{ %>
                                    <li><a href=<%="/page/" + (i+1) %>><%=i +1 %></a></li>
                                    <% }}if(pageNumber == pages){ %>
                                        <li class="disabled"><a href='#'>&raquo;</a></li>
                                        <% }else{ %>
                                            <li><a href=<%="/page/" + (pageNumber+1) %>>&raquo;</a></li>
                                            <% }} %>
            </ul>
        </div>
        <div class="col-md-4">
            <p>Bookshelf © <a href="http://www.gucheen.pro" target="_blank">Guc</a> 2014</p>
            <p><a href="/logout">Logout</a></p>
        </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script>
        var sort_by_year = document.getElementById('li-th-year');
        sort_by_year.addEventListener('click',function(){window.location.assign('?sort=year')});
    </script>
</body>

</html>
